
.idea/vcs.xml
.idea/Repositorio-Para-Estudos.iml
.idea/modules.xml
.idea/misc.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/inspectionProfiles/profiles_settings.xml
Java/eclipse-workspace/.metadata/.log
Java/eclipse-workspace/.metadata/.plugins/org.eclipse.core.resources/.projects/.org.eclipse.egit.core.cmp/1.tree
Java/eclipse-workspace/.metadata/.log
Java/eclipse-workspace/.metadata/.log
Java/eclipse-workspace/.metadata/.plugins/org.eclipse.core.resources/.projects/.org.eclipse.egit.core.cmp/.location
Java/eclipse-workspace/.metadata/.plugins/org.eclipse.core.resources/.projects/sintaxe_variaveis_e_fluxo/.markers
*.dat
Java/eclipse-workspace/.metadata/.plugins/org.eclipse.core.resources/.projects/sitaxe_basica/.markers
*.dat
*.index
*.tree
*.tree
*.prefs
*.prefs
*.xmi
*.index
*.index
*.index
Java/eclipse-workspace/.metadata/.plugins/org.eclipse.jdt.core/assumedExternalFilesCache
Java/eclipse-workspace/.metadata/.plugins/org.eclipse.jdt.core/externalFilesCache
Java/eclipse-workspace/.metadata/.plugins/org.eclipse.jdt.core/externalLibsTimeStamps
Java/eclipse-workspace/.metadata/.plugins/org.eclipse.jdt.core/nonChainingJarsCache
*.txt
*.dat
*.xml
*.xml
*.log
*.ini
